@model PageData
@{
    ViewData["Title"] = "Scanner Log";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.SingleScanItem.Location)
    @Html.TextBoxFor(m => m.SingleScanItem.Location)
    @Html.LabelFor(m => m.SingleScanItem.ScannerId)
    @Html.TextBoxFor(m => m.SingleScanItem.ScannerId)
    @Html.TextBoxFor(m => m.SingleScanItem.EmployeeId)
    <button type="submit">Submit</button>
        
}

<ul><li>
    
</li></ul>