@model PageData;
@using mentor_3.Models;

@{
    ViewData["Title"] = "Scanner Log";
}
    


@using (Html.BeginForm()) 
{
    @Html.LabelFor(m => m.SingleScanItem.Location)
    @Html.TextBoxFor(m => m.SingleScanItem.Location)
    @Html.LabelFor(m => m.SingleScanItem.ScannerId)
    @Html.TextBoxFor(m => m.SingleScanItem.ScannerId)
    @Html.TextBoxFor(m => m.SingleScanItem.EmployeeId) 
    <button type="submit" asp-action="post">Submit</button>
        
}
<table cellpadding="2" cellspacing="2">  
   <tr>  
      <th>Location</th>  
      <th>Scanner Id</th>  
      <th>Employee Id</th> 
      <th>Remove</th> 
   </tr>  
   @foreach (var item in Model.Scans){
        <tr>
            <td>@item.Location </td>
            <td>@item.EmployeeId</td>
            <td>@item.ScannerId</td>
            <td>
                <form method="DELETE" asp-controller="Home">
                    <Button type="submit" value="@item.ID">X</Button>
                </form>
            </td>
        </tr>
       
   }
</table>
 
